<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Aquí puedes agregar los enlaces a tus archivos CSS y JavaScript -->
</head>
<body>

<!-- Aquí puedes incluir el contenido de la página de inicio -->
<header>
    <!-- Encabezado de la página de inicio -->
    <h1>Bienvenido a Galio</h1>
</header>

<!-- Contenido de la página de inicio -->
<main>
    <!-- Aquí va el contenido principal de la página de inicio -->
    <p>Aquí aparecerá el ejercicio del día.</p>
</main>

<!-- Pie de página de la página de inicio -->
<footer>
    <p>Aquí aparecerá la respuesta corta del día anterior.</p>
</footer>

<!-- Aquí puedes incluir cualquier otro contenido adicional que desees mostrar -->

</body>
</html>
