<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Aquí puedes agregar los enlaces a tus archivos CSS y JavaScript -->
</head>
<body>

<!-- Encabezado de la página de inicio -->
<header>
    <h1>Bienvenido a Galio</h1>
</header>

<!-- Contenido de la página de inicio -->
<main>
    <p>Bienvenido, {{ user.username }}!</p>
    <p>Usuario ID: {{ user.id }}</p>

    {% if id_pregunta %}
    <p>Pregunta del día:</p>
    <p>ID de la pregunta: {{ id_pregunta }}</p>
    <p>Enunciado: {{ enunciado }}</p>
    {% endif %}
</main>

<!-- Pie de página de la página de inicio -->
<footer>
    <!-- Aquí puedes incluir cualquier otro contenido adicional que desees mostrar -->
</footer>

</body>
</html>
