<!-- login.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username" required id="username">
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" required id="password">
        <br>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <a href="{% url 'solicitar_recuperacion' %}">Olvidé mi contraseña</a>  <!-- Enlace a recuperar contraseña -->
</body>
</html>
